<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Quiz Builder</title>
        <script type="text/javascript" src="lib/steal/steal.js?apps"></script>
    </head>
    <body ng-app="QuizBuilder" class="quizbuilder">
        <div ng-controller="Core" class="quizbuilder-core">

            <div class="header clearfix">
                <h1 class="ellipsis">{{ data.quiz.title | placeholder:'Create a quiz' }}</h1>
                <h2 class="ellipsis">Quiz Builder</h2>
            </div>

            <div class="content" ng-view></div>

            <div class="footer">
                <div class="btn-toolbar">
                    <button ng-click="showHelp()" class="pull-left btn btn-primary">Help</button>
                    <button ng-click="questionCreator()" ng-disabled="{{ !scope.canProceed }}" title="{{ scope.canProceed ? '' : 'Please add details to proceed' }}" class="pull-right btn btn-primary">Add Questions</button>
                    <button ng-click="closeBuilder()" class="pull-right btn btn-danger">Cancel</button>
                </div>
            </div>

        </div>
    </body>
</html>